*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#nav-bar {
  width: 100%;
  display: flex;
  background-color: #4d4c7d;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5vh;
  padding-bottom: 2vh;
  border-bottom: 4mm ridge rgba(155, 200, 241, 0.3);
}

.nav-bar_part-1 h3 {
  font-family: "Bodoni Moda SC", serif;
  margin-left: 40px;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  cursor: not-allowed;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.nav-bar_part-2-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-right: 30px;
}

.nav-bar_part-3 {
  margin-bottom: 8px;
  margin-right: 20px;
}

.nav-bar_part-3 .menu-icon1 {
  font-size: 25px;
  margin-bottom: 10px;
  border: 3px solid black;
  padding-top: 5px ;
  border-radius: 50%;
  margin-left: 25px;
}

.nav-bar_part-3 .menu-icon1:hover {
  font-size: 25px;
  box-shadow: 0 0 15px 3px rgba(89, 88, 88, 0.5);
}

.nav-bar_part-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}

.nav-bar_part-2 a {
  text-decoration: none;
  color: rgb(166, 160, 160);
  position: relative;
}

.nav-bar_part-2 a h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  opacity: 1;
}

.nav-bar_part-2 a h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(191, 63, 95);
  transition: all ease 0.3s;
}

.nav-bar_part-2 a h3:hover::after {
  width: 100%;
}

.nav-bar_part-2 i:hover {
  cursor: wait;
}

.nav-bar_part-3 i:hover {
  cursor: wait;
}

.forLargeScreen {
  font-size: 30px;
}

.ri-moon-fill {
  font-size: 30px;
}

#side-bar .menu-icon2 {
  position: absolute;
  top: 10px;
  font-size: 25px;
  border: 2px solid #5ac2db;
  padding: 2.5px 5px;
  border-radius: 50%;
}

#side-bar .menu-icon2:hover {
  font-size: 25px;
  box-shadow: 0 0 15px 3px rgba(89, 88, 88, 0.5);
}

hr {
  margin-right: 15px;
}

.side-bar_part-1 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: 0 0 15px 3px rgba(89, 88, 88, 0.5);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  padding-top: 50px;
  padding-left: 10px;
  background-color: rgb(32, 0, 128, 0.4);
}

.side-bar_part-1 a {
  text-decoration: none;
  color: rgb(221, 211, 211);
  font-weight: 100;
  position: relative;
}

.side-bar_part-1 a h3 {
  font-size: 20px;
  opacity: 1;
  padding: 15px 5px;
  
}

.side-bar_part-1 a h3:hover {
  box-shadow: 0 0 15px 3px rgba(169, 130, 53, 0.5);
  scale: 1.05;
  transition: all ease 0.5s;
  border-bottom: #4d4c7d;
}

#side-bar {
  display: none;
}

@media (min-width: 1015px) {
  .nav-bar_part-1 h3 {
    font-size: 3.5rem;
  }

  .nav-bar_part-2 a h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1014px) {
  .nav-bar_part-1 a h3 {
    font-size: 1.5px;
  }

  .nav-bar_part-2 a h3 {
    font-size: 18px;
  }

  .nav-bar_part-2 i {
    font-size: 15px;
  }

  .ri-moon-fill {
    font-size: 20px;
  }

  .nav-bar_part-3 .menu-icon1 {
    font-size: 20px;
  }
}

@media (max-width: 969px) {
  .nav-bar_part-1 h3 {
    font-family: "Bodoni Moda SC", serif;
    opacity: 1;
    margin-left: 40px;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 710px) {
  #nav-bar {
    display: block;
  }

  .nav-bar_part-1 h3 {
    text-align: center;
    margin-left: 0;
    font-size: 3rem;
  }

  .nav-bar_part-2 a h3 {
    font-size: 18px;
  }

  .nav-bar_part-2 {
    margin-top: 30px;
  }

  .nav-bar_part-2-3 {
    display: block;
    margin: 0 10px;
  }
}

@media (min-width: 500px) {
  .nav-bar_part-3 {
    display: none;
  }
}

@media (max-width: 499px) {
  .nav-bar_part-2 {
    display: none;
  }

  .nav-bar_part-1 h3 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
  }

  .nav-bar_part-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-bar_part-3 .forSmallScreen {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .nav-bar_part-3 .menu-icon1 {
    padding: 0 5px;
    font-size: 25px;
  }
}

@media (max-width: 334px) {
  .nav-bar_part-1 h3 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .nav-bar_part-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
  }

  .side-bar_part-1 {
    width: 150px;
  }
}
#main{
    height: 100%;
    width: 100%;
}
.contact-me{
    height: 60vh;
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.two-part{
    display: flex;
    height: 60vh;
    width: 70vw;
}
.left-part{
    width: 35vw;
    height: 60vh;
}
.right-part{
    height: 60vh;
    width: 35vw;
}
.via-social-media{
    text-align: center;
    margin-top: 15vh;
} 
.via-social-media a{
    text-decoration: none;
    padding: 2rem;
}
.facebook-icon{
    font-size: 2.5rem;
    color: rgb(78, 78, 184);
    border: 1px solid rgb(197, 175, 175);
    padding: 0.2rem;
    border-radius: 50%;
}
.facebook-icon:hover{
    font-size: 2.4rem;
    background-color: #dbd2d2;
    transition:all ease-in-out 0.3s;
}
.instagram-icon{
    font-size: 2.5rem;
    color: rgb(196, 87, 196);
    border: 1px solid rgb(177, 148, 148);
    border-radius: 50%;
    padding: 0.2rem;
}
.instagram-icon:hover{
    font-size: 2.4rem;
    background-color: rgb(203, 158, 203);
    transition:all ease-in-out 0.3s;
}
.linkedIn-icon{
    font-size: 2.5rem;
    color: rgb(44, 44, 235);
    border: 1px solid rgb(167, 139, 139);
    border-radius: 50%;
    padding: 0.2rem;
}
.linkedIn-icon:hover{
    font-size: 2.4rem;
    background-color: rgb(223, 216, 223);
    transition:all ease-in-out 0.3s;
}
.phone-number{
    display: flex;
    align-items: center;
    margin-left: 9vw;
    margin-top: 7vh;
    gap: 0.5vw;
}
.phone-icon{
    font-size: 1.8rem;
    border-radius: 50%;
    color: rgb(53, 203, 53);
    font-weight: 200;
}
.phone-number h3{
    color: rgb(208, 134, 134);
    font-weight: 100;
}
.phone-number{
    display: flex;
    align-items: center;
}
.whatsapp-icon{
    font-size: 2.5rem;
    color: rgb(134, 11, 130);
    font-weight: 200;
}
.phone-number a {
    text-decoration: none;
}
.phone-number a h3:hover{
    text-decoration: underline;
    color: rgb(135, 135, 211);
}
.vertical-line{
    width: 2px;
    height: 60vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0 3vw;
}
.right-part h3{
    color: rgb(255, 255, 255);
    background-image: radial-gradient(circle, #5c0067 10%, #96ccd6 100%);
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 2rem;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    margin-left: 2vw;
    height: 5vh;
    width: 25vw;
    border: 0;
    border-radius: 15%;
    margin-bottom: 3vh;
    border: 1px solid rgb(188, 126, 136);
}
form input:hover{
    background-color: #bed1b7;
    scale: 1.1;
}
form textarea{
    margin-left: 2vw;
    border: 2px solid black;
    border-radius: 5%;
    max-height: 20vh;
    min-height: 10vh;
    max-width: 30vw;
    min-width: 15vw;
}
form textarea:hover{
    background-color: bisque;
}
form button{
    padding: 0.5rem;
    width: 5vw;
    margin-top: 2vh;
    border-radius: 15%;
    background-color: rgb(156, 156, 218);
}
form button:hover{
    background-color: grey;
    color: white;
    scale: 1.1;
}
@media(max-width:1400px){
    .phone-number{
        margin-left: 8.5vw;
    }
}
@media(max-width:1300px){
    .phone-number{
        margin-left: 8vw;
    }
}
@media(max-width:1200px){
    .phone-number{
        margin-left: 7.5vw;
    }
    .right-part h3{
        font-size: 1.8rem;
    }
    form input{
        height: 4vh;
    }
    form button{
        padding: 0.5rem;
        width: 5vw;
    } 
}
@media(max-width: 1199px){
    .contact-me{
        height: 80vh;
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .two-part{
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 70vw;
    }
    .left-part{
        margin-top: 10vh;
        height: 25vh;
        width: 70vw;
        position: relative;
    }
    .right-part{
        margin-top: 10vh;
        height: 65vh;
        width: 70vw;
    }
    .phone-number{
        display: flex;
        margin-top: 5vh;
        margin-left: 26vw;
    }
    .vertical-line{
        height: 0;
        width: 0;
    }
    .via-social-media{
        margin-top: 5vh;
    }
    form input{
        height: 5vh;
        width: 28vw;
    }
    form button{
        padding: 0.6rem;
        width: 7vw;
        margin-top: 3vh;
        border-radius: 15%;
    }
}
@media(max-width: 959px){
    form input{
        height: 4vh;
        width: 32vw;
    }
}
@media(max-width: 702px){
    .phone-number{
        margin-left: 20vw;
    }
    form input{
        height: 4vh;
        width: 40vw;
    }
    form button{
        text-align: center;
        width: 12vw;
        margin-top: 3vh;
        border-radius: 15%;
    }
}
@media(max-width: 493px){
    .two-part{
        height: 70vh;
        margin-top: 5vh;
    }
    .via-social-media a .facebook-icon{
        font-size: 1.7rem;
    }
    .via-social-media a .instagram-icon{
        font-size: 1.7rem;
    }
    .via-social-media a .linkedIn-icon{
        font-size: 1.7rem;
    }
    .phone-number .whatsapp-icon{
        font-size: 1.7rem;
    }
    .phone-number .phone-icon{
        font-size: 1.6rem;
    }
    .phone-number a h3{
        font-size: 1.2rem;
    }
    .right-part h3{
        font-size: 1.5rem;
    }
    form input{
        height: 4vh;
        width: 45vw;
        margin-bottom: 2vh;
    }
    form button{
        text-align: center;
        width: 12vw;
        margin-top: 3vh;
        border-radius: 15%;
    }
}
@media(max-width: 438px){
    .via-social-media a{
        text-decoration: none;
        padding: 1rem;
    }
    .phone-number{
        margin-left: 13vw;
    }
    form input{
        height: 3.5vh;
        width: 50vw;
        margin-bottom: 1.5vh;
    }
    form button{
        text-align: center;
        width: 16vw;
        margin-top: 3vh;
        border-radius: 15%;
    }
}
@media(max-width: 340px){
    .via-social-media a .facebook-icon{
        font-size: 1.3rem;
    }
    .via-social-media a .instagram-icon{
        font-size: 1.3rem;
    }
    .via-social-media a .linkedIn-icon{
        font-size: 1.3rem;
    }
    .phone-number .whatsapp-icon{
        font-size: 1.4rem;
    }
    .phone-number .phone-icon{
        font-size: 1.4rem;
    }
    .phone-number a h3{
        font-size: 1rem;
    }
    .right-part h3{
        font-size: 1.2rem;
    }
    form input{
        height: 3vh;
        width: 60vw;
        margin-bottom: 1.4vh;
        border-radius: 5%;
    }
    form button{
        text-align: center;
        width: 20vw;
        margin-top: 3vh;
        border-radius: 15%;
    }
}

