*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(23, 22, 22, 0.9);
    color: wheat;
}
#main{
    height: 100%;
    width: 100%;
}
.project{
    height: 70vh;
    width: 70vw;
    background-color: #565353;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid red;
}
.project-link_certificates h1{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    letter-spacing: 2px;
}
.project-link_certificates h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,80%);
    white-space: nowrap;
    letter-spacing: 3px;
}
.small-nav .nav-element{
    text-align: center;
    margin-top: 7vh;
}
.nav-element button {
    font-size: 1.5rem;
    margin-left: 2vw;
    border-radius: 10%;
    background-color: steelblue;
}
.nav-element button:hover {
    border: none;
    transform: translateY(-2px);
}
.nav-element button a{
    padding: 2px 2px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}
.nav-element button a:hover{
    color: white;
    background-color: rgb(33, 32, 32);
}
@media(min-width: 1401px){
    .nav-element button{
        font-size: 2rem;
        margin-left: 2.5vw;
        border-radius: 15%;
    }
    .nav-element button a{
        padding: 3px 3px;
        font-size: 1.5rem;
    }
}
@media(max-width: 1400px){
    .nav-element button{
        font-size: 1.5rem;
        margin-left: 2vw;
        border-radius: 10%;
        background-color: steelblue;
    }
    .nav-element button a{
        padding: 2px 2px;
        font-size: 1.3rem;
    }
}
@media(max-width: 932px){
    .project-link_certificates h1{
        font-size: 1.7rem;
        letter-spacing: 1.7px;
    }
    .project-link_certificates h2{
        letter-spacing: 2.5px;
    }
}
@media(max-width: 795px){
    .project-link_certificates h1{
        font-size: 1.4rem;
        letter-spacing: 1.2px;
    }
    .project-link_certificates h2{
        letter-spacing: 2px;
    }
}
@media(max-width: 640px){
    .project-link_certificates h1{
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .project-link_certificates h2{
        letter-spacing: 1.7px;
    }
}
@media(max-width: 552px){
    .project-link_certificates h1{
        font-size: 0.9rem;
        letter-spacing: 0.8px;
    }
    .project-link_certificates h2{
        font-size: 1rem;
        letter-spacing: 1.4px;
    }
}
@media(max-width: 430px){
    .project-link_certificates h1{
        font-size: 0.6rem;
        letter-spacing: 0.5px;
    }
    .project-link_certificates h2{
        font-size: 0.7rem;
        letter-spacing: 1.4px;
    }
    .nav-element button{
        font-size: 1rem;
        margin-left: 2vw;
        border-radius: 10%;
        background-color: steelblue;
    }
    .nav-element button a{
        padding: 2px 2px;
        font-size: 1rem;
    }
}
@media(max-width: 338px){
    .nav-element button{
        font-size: 0.8rem;
        margin-left: 2vw;
        border-radius: 10%;
        background-color: steelblue;
    }
    .nav-element button a{
        padding: 1px 1px;
        font-size: 0.8rem;
    }
}
